body {
	margin: 0px;
	padding: 0px;
}

#formDiv {
	margin-top: 50px;
	text-align: center;
}

#resultsDiv {
	width: 80%;
	text-align: center;
	border: 2px solid red;
	border-radius: 20px;
	padding: 0px 3% 20px 3%;
	margin: 50px 7% 0px 7%;
}

.resultText {
	text-align: center;
	font-size: 30px;
	margin: 10px 0px;
}

.calcResults {
	text-align: right;
	display: inline-block;
	font-size: 20px;
	border: 1px solid blue;
	border-radius: 5px;
	padding: 5px;
	margin: 20px;
}

select {
	font-size: 20px;
	margin: 10px;
	padding: 2px;
}

optgroup {
	font-size: 16px;
}

option {
	font-size: 16px;
}

input {
	text-align: right;
	font-size: 20px;
	padding: 2px;
	width: 70px;
}
